<nav class="navbar navbar-default" role="navigation">
<section class="header light line1">
	<div class="container">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="{{ path('homepage') }}">
	      {% if website.showLogo == true %}
	      <img  class="header-logo" src="{{ asset('images/logo/') }}{{ website.logoPath }}" alt="{{ website.companyName }}" />
	      {% else %}
	      <br>
	      {{ website.companyName | upper }}
	      {% endif %}
	    </a>
	  </div>
   		<div class="nav navbar-nav navbar-right socialmedia">
   			<ul class="nav navbar-nav ">

						{% if website.facebookLink is not null and website.facebookLink | length > 0 and website.facebookLinkEnabled %}
						<li>
							<a href="{{ website.facebookLink }}" target="_BLANK"><i class="fa fa-facebook-square fa-2x social_icons  hover"  alt="Connect On Facebook" ></i> </a>
						</li>
						{% endif %}
						{% if website.twitterLink is not null and website.twitterLink | length > 0 and website.twitterLinkEnabled %}
						<li>
							<a href="{{ website.twitterLink }}" target="_BLANK"><i class="fa fa-twitter-square fa-2x social_icons hover"  alt="Connect On Twitter" ></i> </a>
						</li>
						{% endif %}
						{% if website.youtubeLink is not null and website.youtubeLink | length > 0 and website.youtubeLinkEnabled %}
						<li>
							<a href="{{ website.youtubeLink }}" target="_BLANK"><i class="fa fa-youtube-square fa-2x social_icons hover"  alt="Connect On Youtube" ></i></a>
						</li>
						{% endif %}
						{% if website.googleLink is not null  and website.googleLink | length > 0 and website.googleLinkEnabled %}
						<li>
							<a href="{{ website.googleLink }}" target="_BLANK"><i class="fa fa-google-plus-square fa-2x social_icons hover"  alt="Connect On Google Plus" ></i></a>
						</li>
						{% endif %}
						{% if website.linkedinLink is not null  and website.linkedinLink | length > 0 and website.linkedinLinkEnabled %}
						<li>
							<a href="{{ website.linkedinLink }}" target="_BLANK"><i class="fa fa-linkedin-square fa-2x social_icons hover"  alt="Connect On Linkedin" ></i></a>
						</li>
						{% endif %}
						{% if website.instagramLink is not null  and website.instagramLink | length > 0 and website.instagramLinkEnabled %}
						<li>
							<a href="{{ website.instagramLink }}" target="_BLANK"><i class="fa fa-instagram fa-2x social_icons hover"  alt="Connect On Instagram" ></i></a>
						</li>
						{% endif %}
    		</ul>
   			{% if contact.phone != "" %}
	    		<div  class="navbar-tel ">
		    		<i class="fa fa-phone" ></i>&nbsp;
			    	{% set phones = contact.phone|split(',') %}
			    	{%  for phone in phones %}
			    		{% if loop.index > 1 %} ,&nbsp {% endif %}
				    	<a href="tel:{{  phone }}">{{ phone }}</a>
			    	{% endfor %}
				</div>
    	 	{% endif %}
	  </div>
</section>
<section class="header light line2">
	<div class="container">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex2-collapse">
    <ul class="nav navbar-nav navbar-left">
    <li {% if app.request.attributes.get('_route') == 'homepage' %} class="select" {% endif %}><a href="{{ path('homepage') }}">Home</a></li>

    <!-- menu pages option 0 -->

    <!-- menu pages option 1 -->
    {% if nav_bar_pages[0] | length == 1 %}
    	{% if nav_bar_pages[0][0]['type'] is defined and nav_bar_pages[0][0]['type'] == 2 %}
	    	<li {% if app.request.attributes.get('_route')  == nav_bar_pages[0][0]['slug'] %} class="select" {% endif %}>
	    		<a href="{{ path(nav_bar_pages[0][0]['static_page_name']) }}">{{nav_bar_pages[0][0]['title']|upper}}</a>
	    	</li>
	    {% elseif nav_bar_pages[0][0]['type'] is defined and nav_bar_pages[0][0]['type'] == 1 %}
	    	<li ><a  href="{{ nav_bar_pages[0][0]['url_redirection'] }}">{{nav_bar_pages[0][0]['title']|upper}}</a></li>
	    {% elseif nav_bar_pages[0][0]['type'] is defined and nav_bar_pages[0][0]['type'] == 0 %}
	    	<li {% if app.request.attributes.get('_route') == nav_bar_pages[0][0]['slug'] %} class="select" {% endif %}>
	    		<a href="{{ path('page',{ slug:nav_bar_pages[0][0]['slug']}) }}">{{nav_bar_pages[0][0]['title']|upper}}</a>
	    	</li>
    	{% endif %}
    {% elseif nav_bar_pages[0] | length > 1 %}
    	<li class="dropdown">
        <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for menu_page in nav_bar_pages[0] %}
            {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
		    	<li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="select" {% endif %}>
		    		<a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
		    	</li>
		    {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
		    	<li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
		    {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
		    	<li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="select" {% endif %}>
		    		<a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
		    	</li>
	    	{% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}

    {% if website.showAboutTab == true %}
    <li {% if app.request.attributes.get('_route') == 'about-us' %} class="select" {% endif %}><a href="{{ path('about-us') }}">About</a></li>
    {% endif %}

    {% if nav_bar_services | length == 0 %}
      {% if website.showServicesTab == true %}
        <li {% if app.request.attributes.get('_route') == 'services' %} class="select" {% endif %}><a href="{{ path('services') }}">Services</a></li>
      {% endif %}
    {% else %}
      <li class="dropdown">
        <a  href="{{ path('services')}}" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for s in nav_bar_services %}
            <li><a
              {% if s.pageSlug %}
              href="{{ path('services_view', { slug : s.pageSlug }) }}"
              {% else %}
              href="{{ path('services') }}"
              {% endif %}
            >{{ s.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
		    {% if hasOffer == true %}
		    	<li
		    		{% if app.request.attributes.get('_route') == 'offers'  %} class="select" {% endif %}
		    	><a href="{{ path('offers') }}">Offers</a></li>
		    {% endif %}
    <!-- menu pages option 1 -->
    {% if nav_bar_pages[1] | length == 1 %}
    	{% if nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 2 %}
	    	<li {% if app.request.attributes.get('_route')  == nav_bar_pages[1][0]['slug'] %} class="select" {% endif %}>
	    		<a href="{{ path(nav_bar_pages[1][0]['static_page_name']) }}">{{nav_bar_pages[1][0]['title']|upper}}</a>
	    	</li>
	    {% elseif nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 1 %}
	    	<li ><a  href="{{ nav_bar_pages[1][0]['url_redirection'] }}">{{nav_bar_pages[1][0]['title']|upper}}</a></li>
	    {% elseif nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 0 %}
	    	<li {% if app.request.attributes.get('_route') == nav_bar_pages[1][0]['slug'] %} class="select" {% endif %}>
	    		<a href="{{ path('page',{ slug:nav_bar_pages[1][0]['slug']}) }}">{{nav_bar_pages[1][0]['title']|upper}}</a>
	    	</li>
    	{% endif %}
    {% elseif nav_bar_pages[1] | length > 1 %}
    	<li class="dropdown">
        <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for menu_page in nav_bar_pages[1] %}
            {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
		    	<li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="select" {% endif %}>
		    		<a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
		    	</li>
		    {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
		    	<li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
		    {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
		    	<li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="select" {% endif %}>
		    		<a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
		    	</li>
	    	{% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}

    {% if website.showReviewsTab == true %}
   	<li {% if app.request.attributes.get('_route') == 'reviews' %} class="select" {% endif %}><a href="{{ path('reviews') }}">Reviews</a></li>
    {% endif %}
    {% if website.showGalleryTab == true %}
   	<li {% if app.request.attributes.get('_route') == 'gallery' %} class="select" {% endif %}><a href="{{ path('gallery') }}">Gallery</a></li>
    {% endif %}
    {% if hasBlog == true %}
    	<li
    		{% if app.request.attributes.get('_route') == 'blog'  %} class="select" {% endif %}
    		{% if app.request.attributes.get('_route') == 'post'  %} class="select" {% endif %}
    	><a href="{{ path('blog') }}">Blog</a></li>
    {% endif %}
     <!-- menu pages option 2 -->
    {% if nav_bar_pages[2] | length == 1 %}
    	{% if nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 2 %}
	    	<li {% if app.request.attributes.get('_route')  == nav_bar_pages[2][0]['slug'] %} class="select" {% endif %}>
	    		<a href="{{ path(nav_bar_pages[2][0]['static_page_name']) }}">{{nav_bar_pages[2][0]['title']|upper}}</a>
	    	</li>
	    {% elseif nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 1 %}
	    	<li ><a  href="{{ nav_bar_pages[2][0]['url_redirection'] }}">{{nav_bar_pages[2][0]['title']|upper}}</a></li>
	    {% elseif nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 0 %}
	    	<li {% if app.request.attributes.get('_route') == nav_bar_pages[2][0]['slug'] %} class="select" {% endif %}>
	    		<a href="{{ path('page',{ slug:nav_bar_pages[2][0]['slug']}) }}">{{nav_bar_pages[2][0]['title']|upper}}</a>
	    	</li>
    	{% endif %}
    {% elseif nav_bar_pages[2] | length > 1 %}
    	<li class="dropdown">
        <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for menu_page in nav_bar_pages[2] %}
            {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
		    	<li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="select" {% endif %}>
		    		<a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
		    	</li>
		    {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
		    	<li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
		    {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
		    	<li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="select" {% endif %}>
		    		<a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
		    	</li>
	    	{% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if website.showContactTab == true %}
   	<li {% if app.request.attributes.get('_route') == 'contact' %} class="select" {% endif %}><a href="{{ path('contact') }}">Contact</a></li>
    {% endif %}

    {% if contact.phone != "" %}
    <li class="navbartelf-mobile ">
	    		<i class="fa fa-phone" ></i>&nbsp;
		    	{% set phones = contact.phone|split(',') %}
		    	{%  for phone in phones %}
		    		{% if loop.index > 1 %} ,&nbsp {% endif %}
			    	<a href="tel:{{  phone }}">{{ phone }}</a>
		    	{% endfor %} </li>
	{% endif %}
    <!-- socialmedia for movile -->
    <li class="socialmedia-mobile">

		{% if website.facebookLink is not null and website.facebookLink | length > 0 and website.facebookLinkEnabled %}
		<a href="{{ website.facebookLink }}" target="_BLANK"><i class="fa fa-facebook-square fa-1-5x social_icons hover"  alt="Connect On Facebook" ></i> </a>
		{% endif %}
		{% if website.twitterLink is not null and website.twitterLink | length > 0 and website.twitterLinkEnabled %}
		<a href="{{ website.twitterLink }}" target="_BLANK"><i class="fa fa-twitter-square fa-1-5x social_icons hover"  alt="Connect On Twitter" ></i> </a>
		{% endif %}
		{% if website.youtubeLink is not null and website.youtubeLink | length > 0 and website.youtubeLinkEnabled %}
		<a href="{{ website.youtubeLink }}" target="_BLANK"><i class="fa fa-youtube-square fa-1-5x social_icons hover"  alt="Connect On Youtube" ></i></a>
		{% endif %}
		{% if website.googleLink is not null  and website.googleLink | length > 0 and website.googleLinkEnabled %}
		<a href="{{ website.googleLink }}" target="_BLANK"><i class="fa fa-google-plus-square fa-1-5x social_icons hover"  alt="Connect On Google Plus" ></i></a>
		{% endif %}
		{% if website.linkedinLink is not null  and website.linkedinLink | length > 0 and website.linkedinLinkEnabled %}
		<a href="{{ website.linkedinLink }}" target="_BLANK"><i class="fa fa-linkedin-square fa-1-5x social_icons hover"  alt="Connect On Linkedin" ></i></a>
		{% endif %}
		{% if website.instagramLink is not null  and website.instagramLink | length > 0 and website.instagramLinkEnabled %}
		<a href="{{ website.instagramLink }}" target="_BLANK"><i class="fa fa-instagram fa-1-5x social_icons hover"  alt="Connect On Instagram" ></i></a>
		{% endif %}

    </li>
    </ul>
  </div><!-- /.navbar-collapse -->

	</div>
</section>
</nav>
