{#<button type="button" class="navbar-toggle fixed-toggle" data-toggle="collapse">
    <a href="#x" id="slide" class="mobile-menu-style"><i class="fa fa-bars"></i></a>  
</button>#}
<nav class="navbar navbar-default {% if id_page == "home_page" %} navbar-fixed-top {% else %} nav-inner {% endif %} new-nav {{ type_color }}" role="navigation">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ path('homepage') }}">{% if website.showLogo == true %}
                <img  class="header-logo" src="{{ asset('images/logo/') }}{{ website.logoPath }}" alt="{{ website.companyName }}" />
                {% else %}
                    {{ website.companyName | upper }}
                    {% endif %}
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        {% if website.facebookLink is not null and website.facebookLink | length > 0 and website.facebookLinkEnabled %}
                            <li>
                                <a href="{{ website.facebookLink }}" class="social-nav" target="_BLANK"><i class="fa fa-facebook"  alt="Connect On Facebook" ></i> </a>
                            </li>
                        {% endif %}
                        {% if website.twitterLink is not null and website.twitterLink | length > 0 and website.twitterLinkEnabled %}
                            <li>
                                <a href="{{ website.twitterLink }}" class="social-nav" target="_BLANK"><i class="fa fa-twitter"  alt="Connect On Twitter" ></i> </a>
                            </li>
                        {% endif %}
                        {% if website.youtubeLink is not null and website.youtubeLink | length > 0 and website.youtubeLinkEnabled %}
                            <li>
                                <a href="{{ website.youtubeLink }}" class="social-nav" target="_BLANK"><i class="fa fa-youtube"  alt="Connect On Youtube" ></i></a>
                            </li>
                        {% endif %}
                        {% if website.googleLink is not null  and website.googleLink | length > 0 and website.googleLinkEnabled %}
                            <li>
                                <a href="{{ website.googleLink }}" class="social-nav" target="_BLANK"><i class="fa fa-google-plus"  alt="Connect On Google Plus" ></i></a>
                            </li>
                        {% endif %}
                        {% if website.linkedinLink is not null  and website.linkedinLink | length > 0 and website.linkedinLinkEnabled %}
                            <li>
                                <a href="{{ website.linkedinLink }}" class="social-nav" target="_BLANK"><i class="fa fa-linkedin"  alt="Connect On Linkedin" ></i></a>
                            </li>
                        {% endif %}
                        {% if website.instagramLink is not null  and website.instagramLink | length > 0 and website.instagramLinkEnabled %}
                            <li>
                                <a href="{{ website.instagramLink }}" class="social-nav" target="_BLANK"><i class="fa fa-instagram"  alt="Connect On Instagram" ></i></a>
                            </li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll" href="{{ path('homepage') }}">Home</a>
                        </li>
                        {% if website.showAboutTab == true %}
                            <li {% if app.request.attributes.get('_route') == 'about-us' %} class="active" {% endif %}><a href="{{ path('about-us') }}">About</a></li>
                            {% endif %}
                            {% if nav_bar_services | length == 0 %}
                                {% if website.showServicesTab == true %}
                                <li {% if app.request.attributes.get('_route') == 'services' %} class="active" {% endif %}><a href="{{ path('services') }}">Services</a></li>
                                {% endif %}
                            {% else %}
                            <li class="dropdown">
                                <a  href="{{ path('services')}}" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Services <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for s in nav_bar_services %}
                                        <li><a
                                                {% if s.pageSlug %}
                                                    href="{{ path('services_view', { slug : s.pageSlug }) }}"
                                                {% else %}
                                                    href="{{ path('services') }}"
                                                {% endif %}
                                                >{{ s.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if hasOffer == true %}
                            <li
                                {% if app.request.attributes.get('_route') == 'offers'  %} class="active" {% endif %}
                                ><a href="{{ path('offers') }}">Offers</a></li>
                            {% endif %}
                        <!-- menu pages option 1 -->
                        {% if nav_bar_pages[1] | length == 1 %}
                            {% if nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 2 %}
                                <li {% if app.request.attributes.get('_route')  == nav_bar_pages[1][0]['slug'] %} class="active" {% endif %}>
                                    <a href="{{ path(nav_bar_pages[1][0]['static_page_name']) }}">{{nav_bar_pages[1][0]['title']|upper}}</a>
                                </li>
                            {% elseif nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 1 %}
                                <li ><a  href="{{ nav_bar_pages[1][0]['url_redirection'] }}">{{nav_bar_pages[1][0]['title']|upper}}</a></li>
                                {% elseif nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 0 %}
                                <li {% if app.request.attributes.get('_route') == nav_bar_pages[1][0]['slug'] %} class="active" {% endif %}>
                                    <a href="{{ path('page',{ slug:nav_bar_pages[1][0]['slug']}) }}">{{nav_bar_pages[1][0]['title']|upper}}</a>
                                </li>
                            {% endif %}
                        {% elseif nav_bar_pages[1] | length > 1 %}
                            <li class="dropdown">
                                <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for menu_page in nav_bar_pages[1] %}
                                        {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
                                            <li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="active" {% endif %}>
                                                <a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
                                            </li>
                                        {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
                                            <li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
                                            {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
                                            <li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="active" {% endif %}>
                                                <a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if website.showReviewsTab == true %}
                            <li {% if app.request.attributes.get('_route') == 'reviews' %} class="active" {% endif %}><a href="{{ path('reviews') }}">Reviews</a></li>
                            {% endif %}
                            {% if website.showGalleryTab == true %}
                            <li {% if app.request.attributes.get('_route') == 'gallery' %} class="active" {% endif %}><a href="{{ path('gallery') }}">Gallery</a></li>
                            {% endif %}
                            {% if hasBlog == true %}
                            <li
                                {% if app.request.attributes.get('_route') == 'blog'  %} class="active" {% endif %}
                                {% if app.request.attributes.get('_route') == 'post'  %} class="active" {% endif %}
                                ><a href="{{ path('blog') }}">Blog</a></li>
                            {% endif %}
                        <!-- menu pages option 2 -->
                        {% if nav_bar_pages[2] | length == 1 %}
                            {% if nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 2 %}
                                <li {% if app.request.attributes.get('_route')  == nav_bar_pages[2][0]['slug'] %} class="active" {% endif %}>
                                    <a href="{{ path(nav_bar_pages[2][0]['static_page_name']) }}">{{nav_bar_pages[2][0]['title']|upper}}</a>
                                </li>
                            {% elseif nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 1 %}
                                <li ><a  href="{{ nav_bar_pages[2][0]['url_redirection'] }}">{{nav_bar_pages[2][0]['title']|upper}}</a></li>
                                {% elseif nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 0 %}
                                <li {% if app.request.attributes.get('_route') == nav_bar_pages[2][0]['slug'] %} class="active" {% endif %}>
                                    <a href="{{ path('page',{ slug:nav_bar_pages[2][0]['slug']}) }}">{{nav_bar_pages[2][0]['title']|upper}}</a>
                                </li>
                            {% endif %}
                        {% elseif nav_bar_pages[2] | length > 1 %}
                            <li class="dropdown">
                                <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for menu_page in nav_bar_pages[2] %}
                                        {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
                                            <li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="active" {% endif %}>
                                                <a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
                                            </li>
                                        {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
                                            <li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
                                            {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
                                            <li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="active" {% endif %}>
                                                <a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if website.showContactTab == true %}
                            <li {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                            {% endif %}
                    </ul>
                    
                    
                    <div class="visible-xs social-mobile">
                    <ul class="nav navbar-nav navbar-nav2 ">
                        {% if website.facebookLink is not null and website.facebookLink | length > 0 and website.facebookLinkEnabled %}
                            <li>
                                <a href="{{ website.facebookLink }}" class="social-nav" target="_BLANK"><i class="fa fa-facebook"  alt="Connect On Facebook" ></i> </a>
                            </li>
                        {% endif %}
                        {% if website.twitterLink is not null and website.twitterLink | length > 0 and website.twitterLinkEnabled %}
                            <li>
                                <a href="{{ website.twitterLink }}" class="social-nav" target="_BLANK"><i class="fa fa-twitter"  alt="Connect On Twitter" ></i> </a>
                            </li>
                        {% endif %}
                        {% if website.youtubeLink is not null and website.youtubeLink | length > 0 and website.youtubeLinkEnabled %}
                            <li>
                                <a href="{{ website.youtubeLink }}" class="social-nav" target="_BLANK"><i class="fa fa-youtube"  alt="Connect On Youtube" ></i></a>
                            </li>
                        {% endif %}
                        {% if website.googleLink is not null  and website.googleLink | length > 0 and website.googleLinkEnabled %}
                            <li>
                                <a href="{{ website.googleLink }}" class="social-nav" target="_BLANK"><i class="fa fa-google-plus"  alt="Connect On Google Plus" ></i></a>
                            </li>
                        {% endif %}
                        {% if website.linkedinLink is not null  and website.linkedinLink | length > 0 and website.linkedinLinkEnabled %}
                            <li>
                                <a href="{{ website.linkedinLink }}" class="social-nav" target="_BLANK"><i class="fa fa-linkedin"  alt="Connect On Linkedin" ></i></a>
                            </li>
                        {% endif %}
                        {% if website.instagramLink is not null  and website.instagramLink | length > 0 and website.instagramLinkEnabled %}
                            <li>
                                <a href="{{ website.instagramLink }}" class="social-nav" target="_BLANK"><i class="fa fa-instagram"  alt="Connect On Instagram" ></i></a>
                            </li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <section>
            <div class="sideoff-off" style="right: -1000px;">
                <button type="button" class="fixed-close" data-toggle="collapse">
                    <a href="#x" id="closeBtn" class="mobile-menu-style"><i class="fa fa-close"></i></a>  
                </button>
                <ul class="menu">
                    <li>
                        <a class="page-scroll" href="{{ path('homepage') }}">Home</a>
                    </li>
                    {% if website.showAboutTab == true %}
                        <li {% if app.request.attributes.get('_route') == 'about-us' %} class="active" {% endif %}><a href="{{ path('about-us') }}">About</a></li>
                        {% endif %}
                        {% if nav_bar_services | length == 0 %}
                            {% if website.showServicesTab == true %}
                            <li {% if app.request.attributes.get('_route') == 'services' %} class="active" {% endif %}><a href="{{ path('services') }}">Services</a></li>
                            {% endif %}
                        {% else %}
                        <li class="dropdown">
                            <a  href="{{ path('services')}}" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for s in nav_bar_services %}
                                    <li><a
                                            {% if s.pageSlug %}
                                                href="{{ path('services_view', { slug : s.pageSlug }) }}"
                                            {% else %}
                                                href="{{ path('services') }}"
                                            {% endif %}
                                            >{{ s.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if hasOffer == true %}
                        <li
                            {% if app.request.attributes.get('_route') == 'offers'  %} class="active" {% endif %}
                            ><a href="{{ path('offers') }}">Offers</a></li>
                        {% endif %}
                    <!-- menu pages option 1 -->
                    {% if nav_bar_pages[1] | length == 1 %}
                        {% if nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 2 %}
                            <li {% if app.request.attributes.get('_route')  == nav_bar_pages[1][0]['slug'] %} class="active" {% endif %}>
                                <a href="{{ path(nav_bar_pages[1][0]['static_page_name']) }}">{{nav_bar_pages[1][0]['title']|upper}}</a>
                            </li>
                        {% elseif nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 1 %}
                            <li ><a  href="{{ nav_bar_pages[1][0]['url_redirection'] }}">{{nav_bar_pages[1][0]['title']|upper}}</a></li>
                            {% elseif nav_bar_pages[1][0]['type'] is defined and nav_bar_pages[1][0]['type'] == 0 %}
                            <li {% if app.request.attributes.get('_route') == nav_bar_pages[1][0]['slug'] %} class="active" {% endif %}>
                                <a href="{{ path('page',{ slug:nav_bar_pages[1][0]['slug']}) }}">{{nav_bar_pages[1][0]['title']|upper}}</a>
                            </li>
                        {% endif %}
                    {% elseif nav_bar_pages[1] | length > 1 %}
                        <li class="dropdown">
                            <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for menu_page in nav_bar_pages[1] %}
                                    {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
                                        <li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="active" {% endif %}>
                                            <a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
                                        </li>
                                    {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
                                        <li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
                                        {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
                                        <li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="active" {% endif %}>
                                            <a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if website.showReviewsTab == true %}
                        <li {% if app.request.attributes.get('_route') == 'reviews' %} class="active" {% endif %}><a href="{{ path('reviews') }}">Reviews</a></li>
                        {% endif %}
                        {% if website.showGalleryTab == true %}
                        <li {% if app.request.attributes.get('_route') == 'gallery' %} class="active" {% endif %}><a href="{{ path('gallery') }}">Gallery</a></li>
                        {% endif %}
                        {% if hasBlog == true %}
                        <li
                            {% if app.request.attributes.get('_route') == 'blog'  %} class="active" {% endif %}
                            {% if app.request.attributes.get('_route') == 'post'  %} class="active" {% endif %}
                            ><a href="{{ path('blog') }}">Blog</a></li>
                        {% endif %}
                    <!-- menu pages option 2 -->
                    {% if nav_bar_pages[2] | length == 1 %}
                        {% if nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 2 %}
                            <li {% if app.request.attributes.get('_route')  == nav_bar_pages[2][0]['slug'] %} class="active" {% endif %}>
                                <a href="{{ path(nav_bar_pages[2][0]['static_page_name']) }}">{{nav_bar_pages[2][0]['title']|upper}}</a>
                            </li>
                        {% elseif nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 1 %}
                            <li ><a  href="{{ nav_bar_pages[2][0]['url_redirection'] }}">{{nav_bar_pages[2][0]['title']|upper}}</a></li>
                            {% elseif nav_bar_pages[2][0]['type'] is defined and nav_bar_pages[2][0]['type'] == 0 %}
                            <li {% if app.request.attributes.get('_route') == nav_bar_pages[2][0]['slug'] %} class="active" {% endif %}>
                                <a href="{{ path('page',{ slug:nav_bar_pages[2][0]['slug']}) }}">{{nav_bar_pages[2][0]['title']|upper}}</a>
                            </li>
                        {% endif %}
                    {% elseif nav_bar_pages[2] | length > 1 %}
                        <li class="dropdown">
                            <a   class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">More <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for menu_page in nav_bar_pages[2] %}
                                    {% if menu_page['type'] is defined and menu_page['type'] == 2 %}
                                        <li {% if app.request.attributes.get('_route')  == menu_page['slug'] %} class="active" {% endif %}>
                                            <a href="{{ path(menu_page['static_page_name']) }}">{{menu_page['title']|upper}}</a>
                                        </li>
                                    {% elseif menu_page['type'] is defined and menu_page['type'] == 1 %}
                                        <li ><a href="{{ menu_page['url_redirection'] }}">{{menu_page['title']|upper}}</a></li>
                                        {% elseif menu_page['type'] is defined and menu_page['type'] == 0 %}
                                        <li {% if app.request.attributes.get('_route') == menu_page['slug'] %} class="active" {% endif %}>
                                            <a href="{{ path('page',{ slug:menu_page['slug']}) }}">{{menu_page['title']|upper}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if website.showContactTab == true %}
                        <li {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                        {% endif %}
                    <div class="btm-social">
                        {% if website.facebookLink is not null and website.facebookLink | length > 0 and website.facebookLinkEnabled %}
                            <a href="{{ website.facebookLink }}" class="social-nav" target="_BLANK"><i class="fa fa-facebook"  alt="Connect On Facebook" ></i> </a>
                        {% endif %}
                        {% if website.twitterLink is not null and website.twitterLink | length > 0 and website.twitterLinkEnabled %}
                            <a href="{{ website.twitterLink }}" class="social-nav" target="_BLANK"><i class="fa fa-twitter"  alt="Connect On Twitter" ></i> </a>
                        {% endif %}
                        {% if website.youtubeLink is not null and website.youtubeLink | length > 0 and website.youtubeLinkEnabled %}
                            <a href="{{ website.youtubeLink }}" class="social-nav" target="_BLANK"><i class="fa fa-youtube"  alt="Connect On Youtube" ></i></a>
                            {% endif %}
                            {% if website.googleLink is not null  and website.googleLink | length > 0 and website.googleLinkEnabled %}
                            <a href="{{ website.googleLink }}" class="social-nav" target="_BLANK"><i class="fa fa-google-plus"  alt="Connect On Google Plus" ></i></a>
                            {% endif %}
                            {% if website.linkedinLink is not null  and website.linkedinLink | length > 0 and website.linkedinLinkEnabled %}
                            <a href="{{ website.linkedinLink }}" class="social-nav" target="_BLANK"><i class="fa fa-linkedin"  alt="Connect On Linkedin" ></i></a>
                            {% endif %}
                            {% if website.instagramLink is not null  and website.instagramLink | length > 0 and website.instagramLinkEnabled %}
                            <a href="{{ website.instagramLink }}" class="social-nav" target="_BLANK"><i class="fa fa-instagram"  alt="Connect On Instagram" ></i></a>
                            {% endif %}
                    </div>
                </ul>
            </div>
        </section>