{% extends "AppBundle::base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/app/css/magnific-popup.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<section class="innerpage_banner gallery_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ gallery.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ gallery.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="service_page_panel">
	<div class="container">
		<div class="servicepage_box clearfix" id="portfolio">
				<div class="row">
					{% for item in items %}
					<div class="col-sm-4">
						<div class="row">
							<div class="servicebox galbox">
							<a href="{{ asset('images/gallery/') }}{{ item.path }}">
								<img alt="{{ item.title }}" src="{{ asset('images/gallery/') }}{{ item.path }}" class="grayscale">
								<div class="galhover"><p>{{ item.title }}</p></div>
							</a>
						</div>
						</div>
					</div>
					{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="rv_pagination_listing forgp">
					<ul>
						<li><a href="#"><img src="{{ asset('bundles/app/images/global/pg-arw1.jpg') }}" alt="" /></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#"><img src="{{ asset('bundles/app/images/global/pg-arw2.jpg') }}" alt="" /></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="team_click srvclk">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="#">Get A Quote</a></div></div>
				</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>Please subscribe to be updated for discount and pricing</h2>
					<p>we keep your details confidential.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form>
						<input type="text" placeholder="Email Address" />
						<input type="submit" value="" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
$(function(){
  $('#portfolio').magnificPopup({
    delegate: 'a',
    type: 'image',
    image: {
      cursor: null,
      titleSrc: 'title'
    },
    gallery: {
      enabled: true,
      preload: [0,1], // Will preload 0 - before current, and 1 after the current image
      navigateByImgClick: true
		}
  });
});
</script>
{% endblock %}
