{% extends "AppBundle::base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/app/css/magnific-popup.css') }}" rel="stylesheet">
   <style type="text/css">
   /*modify */
   	img.mfp-img  { width:100%;height:auto; }
   	
	.mfp-counter { right:17px;}
   </style>
{% endblock %}

{% block header %}
	<title>{{ gallery.metaTitle }}</title>
	<meta name="description" content="{{ gallery.metaDescription }}">

    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
	<meta property="og:site_name" content="{{ homepage.metaTitle }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ gallery.metaTitle }}" />
	<meta property="og:description" content="{{ gallery.metaDescription }}" />
	<meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(facebook_image) }}" />
	
    <meta name="twitter:card" content="summary_large_image">
    {% if website.twitterPage %}<meta name="twitter:site" content="{{ website.twitterPage }}">{% endif %}
	<meta name="twitter:title" content="{{ gallery.metaTitle }}">
	<meta name="twitter:description" content="{{ gallery.metaDescription }}">
	<meta name="twitter:image:src" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(twitter_image) }}">
	<meta name="twitter:domain" content="{{ app.request.host }}">
{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class="innerpage_banner gallery_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ gallery.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ gallery.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="service_page_panel">
	<div class="container">
		<div class="servicepage_box clearfix" id="portfolio">
				<div class="row">
					{% for key,item in items.data %}
						{% if item.path is not null %}
							{% if landscape %}
								<div class="col-sm-4">
									<div class="row landscape_all">
										<div class="servicebox galbox">
										<a href="{{ asset('images/gallery/') }}{{ item.path }}">
											<img alt="{{ item.title }}" src="{{ asset('images/gallery/') }}{{ item.path }}">
											<div class="galhover"><p>{{ item.title }}</p></div>
										</a>
									</div>
									</div>
								</div>
							{% elseif portrait  %}
								<div class="col-sm-3">
									<div class="row portrait_all">
										<div class="servicebox galbox">
										<a href="{{ asset('images/gallery/') }}{{ item.path }}">
											<img alt="{{ item.title }}" src="{{ asset('images/gallery/') }}{{ item.path }}">
											<div class="galhover"><p>{{ item.title }}</p></div>
										</a>
									</div>
									</div>
								</div>
							{% else   %}
								<div class="col-sm-4">
									<div class="row {{pos_items[key]}}">
										<div class="servicebox galbox">
										<a href="{{ asset('images/gallery/') }}{{ item.path }}">
											<img alt="{{ item.title }}" src="{{ asset('images/gallery/') }}{{ item.path }}">
											<div class="galhover"><p>{{ item.title }}</p></div>
										</a>
									</div>
									</div>
								</div>
							
							{% endif %}
						{% endif %}
					{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12  text-center">
				{% if items.total != 0%}
				<div>
					<ul class="pagination pagination-dark pagination-m">

								<li {% if page == 1 %} class="disabled" {% endif %}>
									<a {% if page != 1 %} href="{{ path('gallery', { 'page': 1 } ) }}" {% endif %}>&laquo;</a>
								</li>
								{% if items.last_page < 8 %}

										{% for i in 1..items.last_page %}
												<li {%if i == page %} class="active" {% endif %}>
													<a href="{{ path('gallery', { 'page': i } ) }}">{{ i }}</a>
												</li>
										{% endfor %}

								{% else %}
										 <!-- Page 1 -->
										 <li {%if 1 == page %} class="active" {% endif %}>
												<a href="{{ path('gallery', { 'page': 1 } ) }}">1</a>
										 </li>
										 <!-- Page - 1 -->
										 {% if items.last_page >= 2 %}
														{% set pageMinusOne = page -1 %}

														{% if page > 3 %}
														<li><a href="{{ path('gallery', { 'page': pageMinusOne }) }}">..</a></li>
														{% endif %}

														{% if pageMinusOne >= 2 %}
														<li><a href="{{ path('gallery', { 'page': pageMinusOne }) }}">{{ pageMinusOne }}</a></li>
														{% endif %}

														{% if page != 1 and page != items.last_page %}
														<li class="active" >
															<a href="{{ path('gallery', { 'page': page }) }}">{{ page }}</a>
														</li>
														{% endif %}

														{% set pagePlusOne = page +1 %}
														{% if pagePlusOne < items.last_page %}
														<li><a href="{{ path('gallery', { 'page': pagePlusOne }) }}">{{ pagePlusOne }}</a></li>
														{% endif %}

														{% set totalMinusTree = items.last_page -3 %}
														{% if page < totalMinusTree %}
														<li><a href="{{ path('gallery', { 'page': pagePlusOne }) }}">..</a></li>
														{% endif %}
										{% endif %}
										<!-- Page 1 -->
										<li {% if items.last_page == page %} class="active" {% endif %}>
											<a href="{{ path('gallery', { 'page': items.last_page }) }}">{{ items.last_page }}</a>
										</li>

								{% endif %}

								<li {% if page == items.last_page %} class="disabled" {% endif %}>
									<a {% if page != items.last_page %} href="{{ path('gallery', { 'page': items.last_page } ) }}" {% endif %}>&raquo;</a>
							 </li>
				</ul>
			</div>
			{% endif %}
			</div>
		</div>

		<div class="team_click srvclk">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">Get A Quote</a></div></div>
				</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="GO" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
$(function(){
  $('#portfolio').magnificPopup({
    delegate: 'a',
    type: 'image',
    image: {
      cursor: null,
      titleSrc: 'title'
    },
    gallery: {
      enabled: true,
      preload: [0,1], // Will preload 0 - before current, and 1 after the current image
      navigateByImgClick: true
		}
  });
});
</script>
{% endblock %}
