{% extends "AppBundle::base.html.twig" %}

{% block body %}

<section class="innerpage_banner">
	<div class="container">
		<div class="banner_content_top">
				<p>{{ aboutUs.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ aboutUs.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="bodybox1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<h2>{{ aboutUs.aboutUsTitle }}</h2>
					<p>{{ aboutUs.aboutUsText }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="about_body_left">
					<img src="{{ asset('bundles/app/images/abt-bd-left-pic.png') }}" alt="" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about_body_right">
					<div class="abtr">
						<div class="abtrpic"><img src="{{ asset('bundles/app/images/abtr1.png') }}" alt="" /></div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsFirstPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsFirstPointText }}</p>
						</div>
					</div>
					<div class="abtr">
						<div class="abtrpic"><img src="{{ asset('bundles/app/images/abtr2.png') }}" alt="" /></div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsSecondPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsSecondPointText }}</p>
						</div>
					</div>
					<div class="abtr">
						<div class="abtrpic"><img src="{{ asset('bundles/app/images/abtr3.png') }}" alt="" /></div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsThirdPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsThirdPointText }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bodybox2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="review_head">
					<h2>See our statistics</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="statbox">
					<img src="images/stat1.png" alt="" />
					<h2>72</h2>
					<p>Total Jobs Done</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<img src="images/stat2.png" alt="" />
					<h2>69</h2>
					<p>Happy Clients</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<img src="images/stat3.png" alt="" />
					<h2>31</h2>
					<p>Jobs Processing</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<img src="images/stat4.png" alt="" />
					<h2>23,079</h2>
					<p>Followers</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bodybox3">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<h2>Our Team</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an  unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="team_panel">
					{% for team_member in teamMembers %}
						{% if team_member.path is not null %}
						<div class="teambox">
							<img src="{{ asset('images/team_members/') }}{{ item.path }}" alt="" />
							<h2>{{ team_member.name }}</h2>
							<h3>{{ team_member.title }}</h3>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="team_click">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">Get A Quote</a></div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>Please subscribe to be updated for discount and pricing</h2>
					<p>we keep your details confidential.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form>
						<input type="text" placeholder="Email Address" />
						<input type="submit" value="" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
