{% extends "AppBundle::base.html.twig" %}

{% block header %}
	<title>{{ aboutUs.metaTitle }}</title>
	<meta name="description" content="{{ aboutUs.metaDescription }}">
{% endblock %}

{% block body %}

<section class="innerpage_banner">
	<div class="container">
		<div class="banner_content_top">
				<p>{{ aboutUs.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ aboutUs.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="bodybox1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<h2>{{ aboutUs.aboutUsTitle }}</h2>
					<p>{{ aboutUs.aboutUsText }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="about_body_left">
					{% if aboutUs.path is not null %}
					<img src="{{ asset('images/about_us/') }}{{ aboutUs.path }}" alt="About Us" />
					{% endif %}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about_body_right">
					<div class="abtr">
						<div class="abtrpic">
								<i class="fa {{ aboutUs.aboutUsFirstPointImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
						</div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsFirstPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsFirstPointText }}</p>
						</div>
					</div>
					<div class="abtr">
						<div class="abtrpic">
								<i class="fa {{ aboutUs.aboutUsSecondPointImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
						</div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsSecondPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsSecondPointText }}</p>
						</div>
					</div>
					<div class="abtr">
						<div class="abtrpic">
							<i class="fa {{ aboutUs.aboutUsThirdPointImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
						</div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsThirdPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsThirdPointText }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bodybox2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="review_head">
					<h2>{{ aboutUs.statisticsTitle }}</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="statbox">
					<i class="fa {{ aboutUs.statisticsFirstBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsFirstBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsFirstBoxText }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<i class="fa {{ aboutUs.statisticsSecondBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsSecondBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsSecondBoxText }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
				  <i class="fa {{ aboutUs.statisticsThirdBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsThirdBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsThirdBoxText }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<i class="fa {{ aboutUs.statisticsFourthBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsFourthBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsFourthBoxText }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bodybox3">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<h2>{{ aboutUs.teamTitle }}</h2>
					<p>{{ aboutUs.teamsubtitle }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="team_panel">
					{% for team_member in teamMembers %}
						{% if team_member.path is not null %}
						<div class="teambox">
							<img src="{{ asset('images/team_members/') }}{{ team_member.path }}" alt="{{ team_member.name }}" />
							<h2>{{ team_member.name }}</h2>
							<h3>{{ team_member.title }}</h3>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="team_click">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">Get A Quote</a></div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
