{% extends "AppBundle::base.html.twig" %}

{% block header %}
	<title>{{ aboutUs.metaTitle }}</title>
	<meta name="description" content="{{ aboutUs.metaDescription }}">
	
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
	<meta property="og:site_name" content="{{ homepage.metaTitle }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ aboutUs.metaTitle }}" />
	<meta property="og:description" content="{{ aboutUs.metaDescription }}" />
	<meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(facebook_image) }}" />
	
    <meta name="twitter:card" content="summary_large_image">
    {% if website.twitterPage %}<meta name="twitter:site" content="{{ website.twitterPage }}">{% endif %}
	<meta name="twitter:title" content="{{ aboutUs.metaTitle }}">
	<meta name="twitter:description" content="{{ aboutUs.metaDescription }}">
	<meta name="twitter:image:src" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(twitter_image) }}">
	<meta name="twitter:domain" content="{{ app.request.host }}">
{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class="innerpage_banner">
	<div class="container">
		<div class="banner_content_top">
				<p>{{ aboutUs.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ aboutUs.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="bodybox1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<h2>{{ aboutUs.aboutUsTitle }}</h2>
					<p>{{ aboutUs.aboutUsText | raw }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="about_body_left">
					{% if aboutUs.path is not null %}
					<img src="{{ asset('images/about_us/') }}{{ aboutUs.path }}" alt="About Us" />
					{% endif %}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about_body_right">
					<div class="abtr">
						<div class="abtrpic">
								<i class="fa {{ aboutUs.aboutUsFirstPointImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
						</div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsFirstPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsFirstPointText }}</p>
						</div>
					</div>
					<div class="abtr">
						<div class="abtrpic">
								<i class="fa {{ aboutUs.aboutUsSecondPointImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
						</div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsSecondPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsSecondPointText }}</p>
						</div>
					</div>
					<div class="abtr">
						<div class="abtrpic">
							<i class="fa {{ aboutUs.aboutUsThirdPointImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
						</div>
						<div class="abtrinfo">
							<h2>{{ aboutUs.aboutUsThirdPointTitle }}</h2>
							<p>{{ aboutUs.aboutUsThirdPointText }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bodybox2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="review_head">
					<h2>{{ aboutUs.statisticsTitle }}</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="statbox">
					<i class="fa {{ aboutUs.statisticsFirstBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsFirstBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsFirstBoxText }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<i class="fa {{ aboutUs.statisticsSecondBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsSecondBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsSecondBoxText }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
				  <i class="fa {{ aboutUs.statisticsThirdBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsThirdBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsThirdBoxText }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="statbox">
					<i class="fa {{ aboutUs.statisticsFourthBoxImage }} fa-4x" style="color:{{ website.darkColor }}"></i>
					<h2>{{ aboutUs.statisticsFourthBoxNumber }}</h2>
					<p>{{ aboutUs.statisticsFourthBoxText }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bodybox3">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<h2>{{ aboutUs.teamTitle }}</h2>
					<p>{{ aboutUs.teamsubtitle | raw }}</p>
				</div>
			</div>
		</div>
		<!-- 08/10/2015---------------as per mail work -->
		{% for team_member in teamMembers %}
		<div class="newtm">
			<div class="row">
					<div class="col-sm-2">
						{% if team_member.path is not null %}
						<div class="new_team_pic"><img src="{{ asset('images/team_members/') }}{{ team_member.path }}" alt="{{ team_member.name }}"/></div>
						{% endif %}
					</div>
					<div class="col-sm-10">
						<div class="new_team_pic_info">
							<h2>{{ team_member.name }}</h2>
							<h3>{{ team_member.title }}</h3>
							<p>{{ team_member.description | raw }}</p>
						</div>
					</div>
				</div>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-sm-12">
				<div class="team_click">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">{{website.btnTxtGaq}}</a></div></div>
				</div>
			</div>
		</div>
		<!-- 08/10/2015---------------as per mail work -->
	</div>
</section>
{% endif %}
{% endblock %}
