{% extends "AppBundle::base.html.twig" %}

{% block header %}
	<title>{{ item.pageMetaTitle }}</title>
	<meta name="description" content="{{ item.pageMetaDescription }}">

	<style>
	.section-heading{
	  margin-top: 50px;
	  margin-bottom: 30px;
	}
	p {
	  line-height: 1.5;
	  margin: 30px 0;
	  font-size: 16px;
	}
	p a {
	  text-decoration: underline;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-weight: 800;
	}
	a {
	  color: #404040;
	}
	a:hover,
	a:focus {
	  color: #0085a1;
	}
	a img:hover,
	a img:focus {
	  cursor: zoom-in;
	}
	blockquote {
	  color: #808080;
	  font-style: italic;
	}
	hr.small {
	  max-width: 100px;
	  margin: 15px auto;
	  border-width: 4px;
	  border-color: white;
	}
	article{
	  margin-bottom: 150px;
	}
	.quicklinks a{
	  color: white;
	}
	.service_page_banner {
		background: url('{{ asset(item.getWebHeaderPath) }}') no-repeat 0 0;
		background-size: cover;
		padding: 151px 0 109px;
	}
	.title-header-services{
		font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
	}

	</style>

{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class=" {% if item.headerPath is not null and item.customHeader %} service_page_banner {% else %} service_banner {% endif %}">
	<div class="container">
		<div class="banner_content_bottom_services">
			<div class="title-header-services"> {{ item.title }}</div>
		</div>
	</div>
</section>
<section class="service_page_panel">
	<div class="container">
		<article>
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		                <h1 class="section-heading">{{ item.pageTitle }}</h1>
		                {{ item.pageHtml | raw }}
		            </div>
		        </div>
		    </div>
		</article>
		<div class="row">
			<div class="col-sm-12">
				<div class="team_click">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">{{website.btnTxtGaq}}</a></div></div>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</section>

{% endif %}
{% endblock %}
