<div class="servicepage_box" >
    <div class="row">
        {% for item in items.data %}
            <div class="col-sm-4">
                <div class="row">
                    <div class="servicebox">
                        {% if item.path is not null %}

                            {% if item.pageActive and item.pageSlug %}
                                <a class="img_link" href="{{ path('services_view', { slug : item.pageSlug }) }}">
                                    <img alt="{{ item.title }}" src="{{ asset('images/services/') }}{{ item.path }}">
                                </a>
                            {% else %}
                                <img alt="{{ item.title }}" src="{{ asset('images/services/') }}{{ item.path }}">
                            {% endif %}

                        {% endif %}
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.subtitle | raw }}</p>
                        {% if item.pageActive and item.pageSlug  %}
                            <a href="{{ path('services_view', { slug : item.pageSlug }) }}">Learn more +</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if loop.index is divisible by(3) %}
            </div>
        </div>
        <div class="servicepage_box">
            <div class="row">
            {% endif  %}
        {% endfor %}
    </div>
</div>