{% extends "AppBundle::base.html.twig" %}

{% block header %}
	<title>{{ service.metaTitle }}</title>
	<meta name="description" content="{{ service.metaDescription }}">
{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class="innerpage_banner service_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ service.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ service.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="service_page_panel">
	<div class="container">

		<div class="servicepage_box">
			<div class="row">
				{% for item in items.data %}
					<div class="col-sm-4">
						<div class="row">
							<div class="servicebox">
									{% if item.path is not null %}

										{% if item.pageActive %}
										<a class="img_link" href="{{ path('services_view', { slug : item.pageSlug }) }}">
											<img alt="{{ item.title }}" src="{{ asset('images/services/') }}{{ item.path }}">
										</a>
										{% else %}
											<img alt="{{ item.title }}" src="{{ asset('images/services/') }}{{ item.path }}">
										{% endif %}

									{% endif %}
									<h2>{{ item.title }}</h2>
									<p>{{ item.subtitle | raw }}</p>
									{% if item.pageActive %}
										<a href="{{ path('services_view', { slug : item.pageSlug }) }}">Learn more +</a>
									{% endif %}
							</div>
						</div>
					</div>
					{% if loop.index is divisible by(3) %}
						</div>
					</div>
					<div class="servicepage_box">
						<div class="row">
					{% endif  %}
				{% endfor %}
					
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 text-center">
				{% if items.total != 0%}
				<div>
					<ul class="pagination pagination-dark pagination-m ">

								<li {% if page == 1 %} class="disabled" {% endif %}>
									<a {% if page != 1 %} href="{{ path('services', { 'page': 1 } ) }}" {% endif %}>&laquo;</a>
								</li>
								{% if items.last_page < 8 %}

										{% for i in 1..items.last_page %}
												<li {%if i == page %} class="active" {% endif %}>
													<a href="{{ path('services', { 'page': i } ) }}">{{ i }}</a>
												</li>
										{% endfor %}

								{% else %}
										 <!-- Page 1 -->
										 <li {%if 1 == page %} class="active" {% endif %}>
												<a href="{{ path('services', { 'page': 1 } ) }}">1</a>
										 </li>
										 <!-- Page - 1 -->
										 {% if items.last_page >= 2 %}
														{% set pageMinusOne = page -1 %}

														{% if page > 3 %}
														<li><a href="{{ path('services', { 'page': pageMinusOne }) }}">..</a></li>
														{% endif %}

														{% if pageMinusOne >= 2 %}
														<li><a href="{{ path('services', { 'page': pageMinusOne }) }}">{{ pageMinusOne }}</a></li>
														{% endif %}

														{% if page != 1 and page != items.last_page %}
														<li class="active" >
															<a href="{{ path('services', { 'page': page }) }}">{{ page }}</a>
														</li>
														{% endif %}

														{% set pagePlusOne = page +1 %}
														{% if pagePlusOne < items.last_page %}
														<li><a href="{{ path('services', { 'page': pagePlusOne }) }}">{{ pagePlusOne }}</a></li>
														{% endif %}

														{% set totalMinusTree = items.last_page -3 %}
														{% if page < totalMinusTree %}
														<li><a href="{{ path('services', { 'page': pagePlusOne }) }}">..</a></li>
														{% endif %}
										{% endif %}
										<!-- Page 1 -->
										<li {% if items.last_page == page %} class="active" {% endif %}>
											<a href="{{ path('services', { 'page': items.last_page }) }}">{{ items.last_page }}</a>
										</li>

								{% endif %}

								<li {% if page == items.last_page %} class="disabled" {% endif %}>
									<a {% if page != items.last_page %} href="{{ path('services', { 'page': items.last_page } ) }}" {% endif %}>&raquo;</a>
							 </li>
				</ul>
			</div>
			{% endif %}
			</div>
		</div>

		<div class="team_click srvclk">
				<h2>Click below to get yourself a quote</h2>
				<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">Get A Quote</a></div></div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="GO" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
