{% extends "AppBundle::base.html.twig" %}

{% block header %}
	<title>{{ service.metaTitle }}</title>
	<meta name="description" content="{{ service.metaDescription }}">
{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class="innerpage_banner service_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ service.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ service.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="service_page_panel">
	<div class="container">

		<div class="servicepage_box">
			<div class="row">
				{% for item in items %}
					<div class="col-sm-4">
						<div class="row">
							<div class="servicebox">
									{% if item.path is not null %}

										{% if item.pageActive %}
										<a class="img_link" href="{{ path('services_view', { slug : item.pageSlug }) }}">
											<img alt="{{ item.title }}" src="{{ asset('images/services/') }}{{ item.path }}">
										</a>
										{% else %}
											<img alt="{{ item.title }}" src="{{ asset('images/services/') }}{{ item.path }}">
										{% endif %}

									{% endif %}
									<h2>{{ item.title }}</h2>
									<p>{{ item.subtitle | raw }}</p>
									{% if item.pageActive %}
										<a href="{{ path('services_view', { slug : item.pageSlug }) }}">Learn more +</a>
									{% endif %}
							</div>
						</div>
					</div>
					{% if loop.index is divisible by(3) %}
						</div>
					</div>
					<div class="servicepage_box">
						<div class="row">
					{% endif  %}
				{% endfor %}
					
			</div>
		</div>

		<div class="team_click srvclk">
				<h2>Click below to get yourself a quote</h2>
				<div class="teamq"><div class="slide_button"><a href="{{ path('contact') }}">Get A Quote</a></div></div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="GO" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
