{% extends "AppBundle::base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block header %}
	<title>{{ post.metaTitle }}</title>
	<meta name="description" content="{{ post.metaDescription }}">
	
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
	<meta property="og:site_name" content="{{ homepage.metaTitle }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ post.metaTitle }}" />
	<meta property="og:description" content="{{ post.metaDescription }}" />
	<meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(facebook_image) }}" />
	
    <meta name="twitter:card" content="summary_large_image">
    {% if website.twitterPage %}<meta name="twitter:site" content="{{ website.twitterPage }}">{% endif %}
	<meta name="twitter:title" content="{{ post.metaTitle }}">
	<meta name="twitter:description" content="{{ post.metaDescription }}">
	<meta name="twitter:image:src" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(twitter_image) }}">
	<meta name="twitter:domain" content="{{ app.request.host }}">
	
{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class="innerpage_banner blog_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ blog.headerText }}</p>
		</div>
		<div class="banner_content_bottom">
			<h2>{{ blog.headerTitle }}</h2>
		</div>
	</div>
</section>

<section class="service_page_panel single">
	<div class="container">
		<div class="servicepage_box clearfix " >
				<div class="row">
						<article id="post-{{ post.id }}" class="post col-sm-12">
	    				{% if post.featuredImage is defined   %}
	    					<div class="post-thumb post-featured  text-center">
	    						<img src="{{ asset(post.featuredImage.url) }}" alt="post.featuredImage.title" class=""  >
	    					</div>
	    				{% endif  %}
	    				<header class="entry-header">
					        <h1 class="entry-title fn">{{post.title}}</h1>
					        <div class="entry-meta">
					            <span class="entry-date"><time class="entry-date" datetime="{{ post.publish|date("Y-m-d H:i:s") }}">{{ post.publish|date("F d, Y") }}</time> </span>
					        </div>

					    </header>
	    				{% if post.body is defined   %}
						        <div class="entry-content">
						            <p>{{post.body | raw }}</p>
						        </div>
	    				{% endif  %}
		           			<div class="clearfix"></div>
		           	  </article>
			</div>
		</div>


	</div>
</section>

<section >
		<div class="container">
				<div class="row">
				  <div class="col-md-4 col-md-offset-4">
				  	<div class="readmore_button">
                			<a class="btn-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" title="share on facebook" >
                			<i class="fa fa-facebook-square fa-2x"></i>
                			</a>
                			<a class="btn-share" target="_blank" href="https://twitter.com/home?status={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" title="share on twitter" >
                			<i class="fa fa-twitter-square fa-2x"></i>
                			</a>
           				</div>
				  </div>
				</div>
		</div>
</section>
<section >
		<div class="container">
				<div class="row">
				  <div class="col-md-4 col-md-offset-4">
				  	<div class="readmore_button">
                			<a href="{{ path('blog') }}" title="Back to Posts" rel="bookmark">Back to Posts</a>
           				</div>
				  </div>
				</div>
		</div>
</section>

<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="GO" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}

{% block javascripts %}
</script>
{% endblock %}
