{% extends "AppBundle::base.html.twig" %}

{% block body %}

<section class="innerpage_banner review_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ review.headerText }}</p>
		</div>
			<div class="rvst">
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="" /></a>
			<h2>{{ review.headerSubtitle }}</h2>
			</div>
		<div class="banner_content_bottom rbbn">
			<h2>{{ review.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="review_panel">
	<div class="container">

		<div class="row">
			{% for item in items %}
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						{% for img in item.stars('total', 'rvbox-star.png') %}
						<img src="{{ asset('bundles/app/images/reviews/') }}{{ img }}" alt="Total rating" />
						{% endfor %}
					</div>
					<div class="grt_wrk">{{ item.title }}</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							{% for img in item.stars('time_management') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Time Management"></li>
							{% endfor %}
						</ul>
						<ul>
							<li>Tidiness</li>
							{% for img in item.stars('tidiness') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Tidiness"></li>
							{% endfor %}
						</ul>
						<ul>
							<li>Friendly rating</li>
							{% for img in item.stars('friendly') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Friendly rating"></li>
							{% endfor %}
						</ul>
						<ul>
							<li>Value Rating</li>
							{% for img in item.stars('value') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Value Rating"></li>
							{% endfor %}
						</ul>
						<div class="reviewpage_info">
							<p>{{ item.message }}</p>
							<div class="rvcoma1"><img src="{{ asset('bundles/app/images/reviews/rv-coma1.png') }}" alt="" /></div>
							<div class="rvcoma2"><img src="{{ asset('bundles/app/images/reviews/rv-coma2.png') }}" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="{{ asset('bundles/app/images/reviews/rvfb.png') }}" alt="" /></a>
								<a href="#"><img src="{{ asset('bundles/app/images/reviews/rvtwt.png') }}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="review_pagination">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="rv_pagination_listing">
					<ul>
						<li><a href="#"><img src="{{ asset('bundles/app/images/global/pg-arw1.jpg') }}" alt="" /></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#"><img src="{{ asset('bundles/app/images/global/pg-arw2.jpg') }}" alt="" /></a></li>
					</ul>
				</div>
				<div class="team_click">
					<h2>Click below to Post a Review about us</h2>
					<div class="teamq"><div class="slide_button rvquote"><a href="#">Write A Review</a></div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
