{% extends "AppBundle::base.html.twig" %}

{% block header %}
	<title>{{ review.metaTitle }}</title>
	<meta name="description" content="{{ review.metaDescription }}">
	
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
	<meta property="og:site_name" content="{{ homepage.metaTitle }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ review.metaTitle }}" />
	<meta property="og:description" content="{{ review.metaDescription }}" />
	<meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(facebook_image) }}" />
	
    <meta name="twitter:card" content="summary_large_image">
    {% if website.twitterPage %}<meta name="twitter:site" content="{{ website.twitterPage }}">{% endif %}
	<meta name="twitter:title" content="{{ review.metaTitle }}">
	<meta name="twitter:description" content="{{ review.metaDescription }}">
	<meta name="twitter:image:src" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(twitter_image) }}">
	<meta name="twitter:domain" content="{{ app.request.host }}">
{% endblock %}

{% block body %}
{% if website.disabled %}
{% include 'AppBundle:partials:website_disabled.html.twig' %}
{% else %}
<section class="innerpage_banner review_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>{{ review.headerText }}</p>
		</div>
			<div class="rvst">
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="Total Rating" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="Total Rating" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="Total Rating" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="Total Rating" /></a>
			<a href="#"><img src="{{ asset('bundles/app/images/reviews/rv-star.png') }}" alt="Total Rating" /></a>
			<h2>{{ review.headerSubtitle }}</h2>
			</div>
		<div class="banner_content_bottom rbbn">
			<h2>{{ review.headerTitle }}</h2>
		</div>
	</div>
</section>
<section class="review_panel">
	<div class="container">

		<div class="team_click team_click_top">
			<h2>Click Below To Post A Review About Us</h2>
			<div class="teamq"><div class="slide_button rvquote"><a target="_BLANK" href="https://www.experttrades.com/leave-review-step-one-create/{{ website.tradeId }}">Write A Review</a></div></div>
		</div>
		<div class="row">
			{% for item in items.data %}
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						{% for img in item.stars('total', 'rvbox-star.png') %}
						<img src="{{ asset('bundles/app/images/reviews/') }}{{ img }}" alt="Total rating" />
						{% endfor %}
					</div>
					<div class="grt_wrk"><a href="{{ path('review_view', { id : item.id }) }}" style="color:{{ website.darkColor }}">{{ item.title |slice(0, 40) }} {% if item.title |length > 40 %}...{% endif %}</a></div>
					<div class="dt_rvw">{{ item.jobDoneDate | date }}</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							{% for img in item.stars('time_management') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Time Management"></li>
							{% endfor %}
						</ul>
						<ul>
							<li>Tidiness</li>
							{% for img in item.stars('tidiness') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Tidiness"></li>
							{% endfor %}
						</ul>
						<ul>
							<li>Friendly rating</li>
							{% for img in item.stars('friendly') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Friendly rating"></li>
							{% endfor %}
						</ul>
						<ul>
							<li>Value Rating</li>
							{% for img in item.stars('value') %}
									 <li><img src="{{asset('bundles/app/images/reviews/') }}{{ img }}" alt="Value Rating"></li>
							{% endfor %}
						</ul>
						<div class="reviewpage_info" >
							<p>{{ item.message |slice(0, 200) }} {% if item.message |length > 200 %}...{% endif %}</p>
							<div class="rvcoma1"><img src="{{ asset('bundles/app/images/reviews/rv-coma1.png') }}" alt="Share On Facebook" /></div>
							<div class="rvcoma2"><img src="{{ asset('bundles/app/images/reviews/rv-coma2.png') }}" alt="Share On Twitter" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">{% if item.expertTradesReviewId != 0 and item.expertTradesReviewId is not null %} <i style="color:grey;" class="fa fa-check-circle"></i> <a href="{{ website.trade_url }}/reviews" target="_BLANK" style="color:grey;">Verified By Expert Trades</a>{% endif %} </div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="https://www.facebook.com/sharer/sharer.php?u=http://{{ app.request.host }}/review/{{ item.id }}" target="_BLANK"><i class="fa fa-facebook-square fa-2x" style="color:{{ website.darkColor }}"></i></a>
								<a href="https://twitter.com/home?status=http://{{ app.request.host }}/review/{{ item.id }}" target="_BLANK"><i class="fa fa-twitter-square fa-2x" style="color:{{ website.darkColor }}"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="review_pagination">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
					<!--end-->
					{% if items.total != 0%}
					<div>
						<ul class="pagination pagination-dark pagination-m">

									<li {% if page == 1 %} class="disabled" {% endif %}>
										<a {% if page != 1 %} href="{{ path('reviews', { 'page': items.last_page } ) }}" {% endif %}>&laquo;</a>
									</li>
									{% if items.last_page < 8 %}

											{% for i in 1..items.last_page %}
													<li {%if i == page %} class="active" {% endif %}>
														<a href="{{ path('reviews', { 'page': i } ) }}">{{ i }}</a>
													</li>
											{% endfor %}

									{% else %}
											 <!-- Page 1 -->
											 <li {%if 1 == page %} class="active" {% endif %}>
													<a href="{{ path('reviews', { 'page': 1 } ) }}">1</a>
											 </li>
											 <!-- Page - 1 -->
											 {% if items.last_page >= 2 %}
															{% set pageMinusOne = page -1 %}

															{% if page > 3 %}
															<li><a href="{{ path('reviews', { 'page': pageMinusOne }) }}">..</a></li>
															{% endif %}

															{% if pageMinusOne >= 2 %}
															<li><a href="{{ path('reviews', { 'page': pageMinusOne }) }}">{{ pageMinusOne }}</a></li>
															{% endif %}

															{% if page != 1 and page != items.last_page %}
															<li class="active" >
																<a href="{{ path('reviews', { 'page': page }) }}">{{ page }}</a>
															</li>
															{% endif %}

															{% set pagePlusOne = page +1 %}
															{% if pagePlusOne < items.last_page %}
														  <li><a href="{{ path('reviews', { 'page': pagePlusOne }) }}">{{ pagePlusOne }}</a></li>
															{% endif %}

															{% set totalMinusTree = items.last_page -3 %}
															{% if page < totalMinusTree %}
															<li><a href="{{ path('reviews', { 'page': pagePlusOne }) }}">..</a></li>
															{% endif %}
											{% endif %}
											<!-- Page 1 -->
											<li {% if items.last_page == page %} class="active" {% endif %}>
												<a href="{{ path('reviews', { 'page': items.last_page }) }}">{{ items.last_page }}</a>
											</li>

									{% endif %}

									<li {% if page == items.last_page %} class="disabled" {% endif %}>
										<a {% if page != items.last_page %} href="{{ path('reviews', { 'page': items.last_page } ) }}" {% endif %}>&raquo;</a>
								 </li>
					</ul>
				</div>
				{% endif %}
				<div class="team_click">
					<h2>Click Below To Post A Review About Us</h2>
					<div class="teamq"><div class="slide_button rvquote"><a target="_BLANK" href="https://www.experttrades.com/leave-review-step-one-create/{{ website.tradeId }}">Write A Review</a></div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>{{ website.subscribeTitle }}</h2>
					<p>{{ website.subscribeSubtitle }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form action="{{ path('subscribe') }}" method="POST">
					  {{ form_widget(subscriber_form.email, { 'attr': {'placeholder': 'Email Address'} }) }}
						<input type="submit" value="GO" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
